/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

@charset "UTF-8";


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
/*hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:0 0;
    padding:0;
}*/

input, select {
    vertical-align:middle;
}

hr {
  padding: 0px;
  margin: 0px;
}

.sortdate a {
  text-decoration: underline;
  padding-right: 10px
}

/* voting style */
.vote-span {
  width: 60px;
  float: left;
  display: inline;
  margin: 10px 0;
}

.item {

}
.post {
  padding-left: 10px;
  display: inline;
  margin-top: 0px;
  padding-top: 0px;


}
.post h2 {
  padding-left: 70px;
}

.post p {
  padding-left: 70px;
}

.vote, .vote-score{
  clear: both;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  color: #333;
  font-size: 1.8em;
  font-weight: bold;
}

.vote-score{cursor: text}

.main-wrapper {
  margin: 0 auto;
  width: 100%;
}

.main-wrapper ul li {
  padding-right: 10px;
  text-decoration: underline;
}



header nav {
  width 100%;
  height: 60px;
  background-color: #CCC;
}

header nav ul {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

header nav ul li {
  float: left;
}



header .nav-login {
  float: right;
}

a {
  text-decoration: none;
}

header .nav-login input {
  float: left;
  width: 140px;
  height: 30px;
  margin-top: 10px;
  padding: 0px 10px;
  margin-right: 10px;
  border: none;
  background-color: #1c4f45;
  color: white;
  line-height: 30px;
}

header .nav-login button:hover  {
  background-color: #42f483;
}

/*::-webkit-input-placeholder {  WebKit, Blink, Edge 
    color:    white;
}*/

header .nav-login button {
  float: left;
  width: 60px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  line-height: 30px;
  cursor: pointer;
  background-color: #1c4f45; 
  color: white;

}

header .nav-login a {
  float: left;
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px;
  height: 30px;
  width: 60px;
  line-height: 30px;
  border: 1px solid green;
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
  color: white;
  background-color: #1c4f45;
}

.main-container {
  padding-top: 0px;
}

.main-container h2 {
  padding-top: 10px;
  line-height: 50px;
  font-size: 40px;
  text-align: center;
}

/*styling for signup.php*/

.signup-form {
  width: 400px;
  margin: auto;
  padding-top: 30px;
}

.signup-form input {
  width: 90%; /*100% of the 400px above*/
  height: 40px;
  padding: 0px 5%;
  background-color: #fff;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 4px;
}

.signup-form button {
  display: block; /*margin auto does not work without this */
 width: 30%;
 cursor: pointer;
 margin: 0 auto;
}

.signup-form button:hover {
}

